* {
  box-sizing: border-box;
  margin: 0;
  padding: 1;
}

.card-container {
  display: flex;
  align-items: center;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 65px;
  margin-bottom: 65px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 30px;
  font-weight: bold;
  border-right: 2px solid black;
  cursor: pointer;
}

.card-information {
  flex: 1;
  padding: 30px;
  display: flex; /* Añadir flex para centrar contenido */
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente el contenido */
  align-items: center; /* Centrar horizontalmente el contenido */
}

/* 
.home,
.services,
.forms,
.terms,

.log-in{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  font-family: 'PT Sans', sans-serif;
  background-image: url("/public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.terms{
  font-family: 'PT Sans', sans-serif;
  background-image: url("/public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.forms{
  font-family: 'PT Sans', sans-serif;
  background-image: url('/public/images/img-12.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.log-in{
  font-family: 'PT Sans', sans-serif;
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.create-acc{
  font-family: 'PT Sans', sans-serif;
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.news{
  font-family: 'PT Sans', sans-serif;
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */