:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;

}

.text_normal {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_small {
    font-style: normal;
    font-size: 10px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_title {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_title2 {
    position: relative;
    font-weight: bold;
    font-size: 75px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: start;
}


.text_title2::after {
    content: "Sistema Integrado de Bodega Electrónica";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #545151;
    color: #fff;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.text_title2:hover::after {
    display: block;
}

.subtitle {
    font-weight: semi-bold;
    width: 400px;
    font-size: 40px;
    color: #EADF0E;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text__wrapper {
    position: relative;
}

.text_container {
    background-color: #fff;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 100;
}