:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  .btn--submit {
    border: 2px solid var(--primary);
    background:linear-gradient(to bottom, #fa3e0a 5%, #bc3315 100%);
    background-color:#fa3e0a;
    border-radius:5px;
    border:2px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    padding: 8px 20px;
    text-decoration:none;
    opacity: 0.8;
    transition: 0.3s;
  }

  .btn--small {
    padding: 8px 20px;
    font-size: 14px;
    /* max-width:15em;
    white-space: nowrap; */
  }

  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  

  .btn--small:hover {
    opacity: 1;
  }
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }