.password-container {
    width: 360px;
    height: 250px;
    background-color: #C7C9CA;
    border-radius: 10px;
}

.title-password {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 20px 5px 5px;
}

.password-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field-password {
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
}

.password-button {
    width: 260px;
    height: 45px;
    background-color: #0085D2;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.password-button:hover {
    background-color: #0074B5;
    cursor: pointer;
}